body {
  background-color: black;
  color: white;
  font-family: 'Arial';
  padding-left: 26px;
  padding-top: 20px;
}

#title {
  font-size: 55px;
  font-weight: bold;
}

#artist {
  font-size: 40px;
  font-weight: normal;
}

#label {
  font-size: 37px;
  font-weight: normal;
  font-style: italic;
}

.fade {
  opacity: 1;
  transition: 1s opacity;
}

.track-wrapper {
  position: absolute;
  top: 40px;
  left: 0px;
}

.now-playing-wrapper {
  font-size: 30px;
}

.now-playing-white {
  background-color: white;
  color: red;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  animation: 0.3s inset;
  position: absolute;
  top: 0;
  left: 0;
}

.now-playing-red {
  background-color: red;
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  animation: 0.9s inset;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes inset {
  0% { clip-path: inset(0% 100% 0% 0%) }
  100% { clip-path: inset(0% 0% 0% 0%) }
}